body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #eeeeee;
}
body ul {
  padding: 0;
}
body ul li {
  list-style: none;
}
body .button-78 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: absolute;
  margin-left: 50%;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}
@media (min-width: 768px) {
  body .button-78 {
    padding: 19px 32px;
  }
}
body .button-78:before,
body .button-78:after {
  border-radius: 80px;
}
body .button-78:before {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}
body .button-78:after {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  background-color: initial;
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}
body .button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #ff7426 0%, #f93a13 100%);
}
body .button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.container {
  background-color: #1249a0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container h1 {
  color: #ffd369;
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  padding: 25px;
  background-color: #a369ff;
}
.left .portrait {
  width: 150px;
  height: 150px;
  background-color: #eeeeee;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.left .picto ul {
  justify-content: center;
}
.left .picto ul a {
  margin: 0 5px;
}
.left .picto ul a img {
  height: 40px;
}
.left h2 {
  color: black;
  font-size: 22px;
  margin: 25px 0 15px 0;
}
.left p {
  color: black;
  margin: 0;
}
.left ul {
  color: black;
}
.left .picto ul {
  display: flex;
}

.right {
  width: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right h3 {
  font-size: 22px;
  background-color: #eeeeee;
  padding: 10px 5px;
  border-radius: 5px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 700;
}
.right .name li {
  font-size: 16px;
  color: #eeeeee;
  margin-bottom: 5px;
  text-align: center;
}
.right .education li,
.right .experience li {
  color: #ffd369;
}
.right .education li:nth-child(1),
.right .experience li:nth-child(1) {
  margin-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.right .education li:nth-child(2),
.right .experience li:nth-child(2) {
  margin-left: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.right .education p,
.right .experience p {
  color: #eeeeee;
}/*# sourceMappingURL=dark.css.map */